<%img_sources = [
    '<iframe src="https://giphy.com/embed/wUCgLRvDdtWs8" width="480" height="260" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>',
    '<iframe src="https://giphy.com/embed/3o6MbhbuEuhbBXz8Qg" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>',
    '<iframe src="https://giphy.com/embed/KYV89Ut8mWMDH8QU1N" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>',
    '<iframe src="https://giphy.com/embed/tq7a5M0SikS9W" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>,',
    '<iframe src="https://giphy.com/embed/ZNmXFXhHipggE" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>',
    '<iframe src="https://giphy.com/embed/yss0eq8dKTDwg5mwjC" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>,',
    '<iframe src="https://giphy.com/embed/pZRzyiaHdrwGY" width="480" height="308" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>',
    '<iframe src="https://giphy.com/embed/VnJee3WYAX3Fu" width="480" height="335" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>',
    '<iframe src="https://giphy.com/embed/XEyExB7R7LFqUI7Yx8" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>',
    '<iframe src="https://giphy.com/embed/mNNPY1WXbwx0I" width="480" height="384" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>',
    '<iframe src="https://giphy.com/embed/5dUDvszss1jgU0Jr8d" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>',
    '<iframe src="https://giphy.com/embed/26FPn4rR1damB0MQo" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>',
]%>

<div class="box" id= "div1">
    <div class="row content" id ="divwrapper">
    <br>
    <br>
        <h3>Welcome to</h>
          <br>
        <h1>MakersBNB</h1>
          <br>
          <br>
        <div id="banner"><%=img_sources[rand(img_sources.length)]%></div>
          <br> <br>
        <h2>Find your ideal holiday home</h2>
          <br>
        <p>We have a dedicated 24/7 customer service team</p>
        <br>
    </div>
</div>