<center>
<h4>Log in at MakersBNB</h4>
<br>
<div>
  <form method='POST' action='/login'>

    <div> <label>Email address</label>
            <input type='email' name='email_address'/>
    </div>
    <br>
    <div> <label>Password</label>
            <input type='password' name='password'/>
    </div>
    <br>
    <input type='submit' value='login'/>
  </form>
  </center>
</div>
