<div>
<center>
    <h4>Add your new property on the market</h4>
    <form method="POST" action="/property">

    <div>
    <label>Property title:</label>
    <input type="text" name="title"/>
    </div>

    <div>
    <label>Property description:</label>
    <input type="text" name="description"/>
    </div>

    <div>
    <label>Property price per night:</label>
    <input type="number" name="price_per_night"/>
    </div>

    <div>
    <label> Property availability start date:</label>
    <input type="date" name="start_date"/>
    </div>

    <div>
    <label> Property availability end date:</label>
    <input type="date" name="end_date"/>
    </div>

    <input type="submit"/>
    </form>
    </center>
</div>