<center>
<h4>Register at MakersBNB</h4>
<br>
<div>
        <form method='POST' action='/register'>
                <div> <label>Username</label>
                        <input type='text' name='username'/>
                </div>
                <br>
                <div> <label>Email address</label>
                        <input type='email' name='email_address'/>
                </div>
                <br>
                <div> <label>Password</label>
                        <input type='password' name='password'/>
                </div>
                <br>
                <input type='submit' value='Register'/>
</div>
</center>
